<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
	<link rel="icon" th:src="@{/img/lilha.ico}" href="../../static/img/lilha.ico">
<body>
	<div id="header" th:fragment="header">
			<!-- Image and text -->
			<nav class="navbar navbar-light navbar-expand-lg bg-light">
				<a class="navbar-brand text-dark" href="home"> &nbsp;&nbsp;&nbsp;&nbsp;<img
					th:src="@{/img/lilha.png}" alt="" src="../../static/img/lilha.png" width="30" height="30">&nbsp;&nbsp;&nbsp;
					Creaciones Lilha
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarTogglerDemo02"
					aria-controls="navbarTogglerDemo02" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						<li class="nav-item"><a
							class="nav-link text-secondary text-center" href="home">Home</a></li>
						
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle text-secondary text-center" data-toggle="dropdown" href="#"
							role="button" aria-haspopup="true" aria-expanded="false">
								Productos</a>
							<div class="dropdown-menu bg-light">
								<a class="dropdown-item text-secondary " href="barbijos">Barbijos</a> <a
									class="dropdown-item text-secondary " href="gorras">Gorras</a> <a
									class="dropdown-item text-secondary " href="mochilas">Mochilas</a> <a
									class="dropdown-item text-secondary " href="sombreros">Sombreros</a>
							</div></li>
							
						<li class="nav-item"><a
							class="nav-link text-secondary text-center" href="contacto">Contacto</a>
						</li>
						
					</ul>
					<!--<form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Buscar">
		      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>&nbsp;
		    </form>
		    <form class="form-inline my-2 my-lg-0">
		    	<ul class="navbar-nav mt-2 mt-lg-0">
				<li class="nav-item">
				<a class="btn btn-outline-dark my-2 my-sm-0 form-control" href="/" th:href="@{/logout}"> 
				<span> Salir  </span>
				<!-- <span class="float-right">
				<i class="fas fa-sign-out-alt"></i>
				</span>  ->
				</a>				   	
				</li>
				</ul>
				</form>-->
				</div>
			</nav>
			</div>
			
			
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
			integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
			crossorigin="anonymous"></script>
	
</body>
</html>